/* GLOBAL */

/* set css custom properties */
:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-contact: hsl(0, 0%, 14%);
    --accent: hsl(41, 78%, 51%); 
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid: rgb(255, 111, 92);
    --fs-18: 1.125rem; /* 18px/16px because 16px is a default browser font size*/
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-14: 0.875rem;
    --container: 69.375rem; /* 1110px/16px */
    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, input, textarea, button {
    font-family: "Space Grotesk", sans-serif;
}
body {
    margin: 0;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56; /* 28px/18px */
}

h1, h2, h3 {
    line-height: 1;
}

.header-xl {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
    margin-bottom: 24px;
    /* letter-spacing: -0.028em;
    line-height: 1.1; */
}

@media (min-width: 600px){
    h1 {
        margin-bottom: 60px;
    }
}

@media (min-width: 600px){
    h1 {
        margin-bottom: 43px;
    }
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
    color: var(--text2);
    margin-bottom: 24px;
}

/* TRANSITIONS */
a, button {
    transition: color var(--transition);
}

a.underline, button {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 2.29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text1);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
    padding-bottom: 10px;
}

a:hover, button:hover {
    color: var(--accent);
}

.header_social svg {
    display: block;
}

.header_social > svg > path {
    transition: fill var(--transition);
}

.header_social:hover > svg > path {
    fill: var(--accent);
}

/* OTHER */
.wrapper {
    width: calc(100% - 2rem); /* 1rem = 16px, 2rem on each side */
    max-width: var(--container);
    margin-inline: auto;
}

@media (min-width: 37.5em){ /* 600px for tablet */
    .wrapper {
        width: calc(100% - 3.75rem); /* 30rem on each side = 60rem */
    }
}

/* UTILITY */
.bottom-border {
    border-bottom: 1px solid var(--text2);
}


/* HEADER */
.header {
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
}

.header_home {
    font-size: 1.5rem; /* from fluid typography calculator */
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem); /* from fluid typography calculator */
    line-height: 1;
    color: var(--text1);
    text-decoration: none;
    flex: 1 0 100%;
}

@media (min-width: 37.5em) {
    .header_nav {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 32px;
        margin-bottom: 90px;
    }
    .header_home {
        flex: 1;
        margin-inline-end: auto;
    }
}

/* HERO */
.hero {

}

.hero_wrapper {
    padding-bottom: 80px;
}

.hero_text {
    text-align: center;
    margin-top: 20,9375rem;
    position: relative;
}

.hero_headline > br {
    display: none;
}

h1 > span {
    color: var(--accent);
}

.hero_description {

}

.hero_contact {

}

@media (min-width: 37.5em) { /* 600px for tablet */
    .header {
        margin-top: 30px;
    }
    .hero_text {
        /* width: 62vw; */
        width: 85vw;
        margin-top: 0;
        text-align: left;
    }
    .hero_headline > br {
        display: inline-block;
    }
}

@media (min-width: 62.5em) {
    .break_1 {
        display: none;
    }
}

/* FOR SCREEN READERS */
.visually_hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* SKILLS */

.skills {
    position: relative;
}

.skills_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 65px;
}

.skills_item {
    text-align: center; 
}

.skills_title {
    font-size: 2rem;
    font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
    line-height: 1.17;
    margin-bottom: 2px;
    margin-top: 25px;
}

.skills_description {
    margin-top: 0;
}

@media (min-width: 37.5em) {
    .skills_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 52px 24px;
    }
    .skills_item {
        text-align: left;
    }
}




.skills_container {
    width: 40%; 
    border: 2px solid var(--accent);
    display: inline-block;
    border-radius: 5px;
  }
  
  .skill_bar {
    padding-top: 4px; 
    padding-bottom: 4px;
    background: var(--accent);
  }

  .python {
    width: 90%;
  }

  .sql { 
    width: 60%;
  }

  .html {
    width: 60%;
  }

  .css { 
    width: 30%;
  }

  @media (min-width: 37.5em) {
    .skills_container {
        width: 11rem; 
    }
}

/* CONTACT */

.contact {
    background-color: var(--bg-contact);
}

.contact_wrapper {
    padding-block: 84px;
}

.contact_form {

}

.contact_headline {
    margin-top: 0;
}


.contact_control {
    position: relative;
}

.contact_control input, 
.contact_control textarea {
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    border: none;
    border-bottom: 1px solid var(--text1);
    background: transparent;
    font-size: 1rem;
    line-height: 1.625;
    color: var(--text1)
}

.contact_control > *::placeholder {
    color: var(--text1);
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
}

.contact_control input {
    margin-block-end: 16px;
}

.contact_control textarea {
    margin-block-end: 32px;
}

.contact_control.align-right {
    display: flex;
    justify-content: flex-end;
}

.contact_control button {
    background-color: transparent;
    border: none;
}

/* input validation */
textarea, input {
    outline: none; 
}

.contact_control input:focus-visible, 
.contact_control textarea:focus-visible {
    border-bottom-color: var(--accent);
}

.contact_control input:focus-visible:invalid, 
.contact_control textarea:focus-visible:invalid {
    border-bottom-color: var(--invalid);
}

form:invalid button {
    opacity: 0.3;
    pointer-events: none;
}

.contact_invalid-icon {
    display: none;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 22%;
    right: 0;
}

.contact_invalid_message {
    display: none;
    position: absolute;
    color: var(--invalid);
    font-size: var(--fs-14);
    letter-spacing: 0.4px;
    margin-inline: 0;
    top: 65%;
    right: 0;
}

.contact_control input:focus-visible:invalid ~ .contact_invalid-icon {
    display: inline-block;
}

.contact_control input:focus-visible:invalid ~ .contact_invalid_message {
    display: inline-block;
}


@media (min-width: 62.5em) {
    .contact_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 27.8rem);
        justify-content: space-between;
    }

    .contact_headline {
        margin-top: 0;
    }

    .contact_description {
        margin-top: 36px;
    }

} 

/* 999.98px */
@media (max-width: 62.49875em) {
    .contact_wrapper {
        max-width: 27.8rem;
    }

    .contact_text {
        text-align: center;
    }

    .contact_headline {
        margin-bottom: 20px;
    }
}

/* FOOTER */

footer {
    background-color: var(--bg-contact);
    padding-block: 40px 60px;
}

@media (max-width: 37.5em) {
    footer {
        padding-block: 30px 40px;
    }
}

@media (max-width: 62.5em) {
    footer {
        padding-block: 47px 92px;
    }
}