/* GLOBAL */

/* set css custom properties */
:root {
    --bg-body: rgb(20, 20, 20);
    --bg-contact: hsl(0, 0%, 14%);
    --accent: hsl(41, 78%, 51%); 
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid: hsl(7, 100%, 68%);
    --fs-18: 1.125rem; /* 18px/16px because 16px is a default browser font size*/
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --container: 69.375rem; /* 1110px/16px */
    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56; /* 28px/18px */
    padding-bottom: 30rem;
}

h1, h2, h3 {
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
    margin-bottom: 24px;
}

@media (min-width: 600px){
    h1 {
        margin-bottom: 60px;
    }
}

@media (min-width: 600px){
    h1 {
        margin-bottom: 43px;
    }
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
    color: var(--text2);
    margin-bottom: 24px;
}

/* TRANSITIONS */
a {
    transition: color var(--transition);
}

a.underline {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 2.29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text1);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
    padding-bottom: 10px;
}

a:hover {
    color: var(--accent);
}

.header_social svg {
    display: block;
}

.header_social > svg > path {
    transition: fill var(--transition);
}

.header_social:hover > svg > path {
    fill: var(--accent);
}

/* OTHER */
.wrapper {
    width: calc(100% - 2rem); /* 1rem = 16px, 2rem on each side */
    max-width: var(--container);
    margin-inline: auto;
}

@media (min-width: 37.5em){ /* 600px for tablet */
    .wrapper {
        width: calc(100% - 3.75rem); /* 30rem on each side = 60rem */
    }
}

/* UTILITY */
.bottom-border {
    border-bottom: 1px solid var(--text2);
}


/* HEADER */
.header {
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
}

.header_home {
    font-size: 1.5rem; /* from fluid typography calculator */
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem); /* from fluid typography calculator */
    line-height: 1;
    color: var(--text1);
    text-decoration: none;
    flex: 1 0 100%;
}

@media (min-width: 37.5em) {
    .header_nav {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 32px;
        margin-bottom: 90px;
    }
    .header_home {
        flex: 1;
        margin-inline-end: auto;
    }
}

/* HERO */
.hero {

}

.hero_wrapper {
    padding-bottom: 80px;
}

.hero_text {
    text-align: center;
    margin-top: 20,9375rem;
    position: relative;
}

.hero_headline > br {
    display: none;
}

h1 > span {
    color: var(--accent);
}

.hero_description {

}

.hero_contact {

}

@media (min-width: 37.5em) { /* 600px for tablet */
    .header {
        margin-top: 30px;
    }
    .hero_text {
        /* width: 62vw; */
        width: 85vw;
        margin-top: 0;
        text-align: left;
    }
    .hero_headline > br {
        display: inline-block;
    }
}

@media (min-width: 62.5em) {
    .hero_headline > br {
        display: none;
    }
}

/* FOR SCREEN READERS */
.visually_hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* SKILLS */

.skills {
    position: relative;
}

.skills_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 40px; /* block is top and bottom, while inline is left and right */
}

.skills_item {
    text-align: center; 
}

.skills_title {
    font-size: 2rem;
    font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
    line-height: 1.17;
    margin-bottom: 2px;
}

.skills_description {
    margin-top: 0;
}

@media (min-width: 37.5em) {
    .skills_wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 52px 24px;
    }
    .skills_item {
        text-align: left;
    }
}




.skills_container {
    width: 40%; 
    border: 2px solid var(--accent);
    display: inline-block;
    border-radius: 5px;
  }
  
  .skill_bar {
    padding-top: 4px; 
    padding-bottom: 4px;
    background: var(--accent);
  }

  .python {
    width: 90%;
  }

  .sql { 
    width: 60%;
  }

  .html {
    width: 60%;
  }

  .css { 
    width: 30%;
  }

  @media (min-width: 37.5em) {
    .skills_container {
        width: 11rem; 
    }
}